@import "tailwindcss";

body {
margin: 0;
  background-color: #DEE8DF;
  color: #1E3D34;
  font-family: sans-serif;
}

::selection {
  background-color: #1E3D34; /* Your corporate dark green */
  color: #DEE8DF;            /* Your light green brand color for the text */
}

/* Ensures Safari/iOS webview respects it perfectly */
::-moz-selection {
  background-color: #1E3D34;
  color: #DEE8DF;
}